# ==========================================
# MOVIJA-Project-RW: Environment Configuration
# ==========================================

# --- DOMAIN & PANEL SETTINGS ---
FRONT_END_DOMAIN=__FRONT_DOMAIN__
SUB_PUBLIC_DOMAIN=__SUB_DOMAIN__
PANEL_PORT=__PANEL_PORT__
META_TITLE="__META_TITLE__"
TZ=Europe/Moscow

# --- DATABASE (PostgreSQL) ---
POSTGRES_USER=remnawave_db_user
POSTGRES_PASSWORD=__POSTGRES_PASS__
POSTGRES_DB=remnawave
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL="postgresql://remnawave_db_user:__POSTGRES_PASS__@postgres:5432/remnawave"

# --- CACHE (Redis) ---
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=__REDIS_PASS__

# --- SECURITY & ENCRYPTION (JWT) ---
JWT_AUTH_SECRET=__JWT_AUTH__
JWT_API_TOKENS_SECRET=__JWT_API__

# --- METRICS (Prometheus) ---
METRICS_USER=__METRICS_USER__
METRICS_PASS=__METRICS_PASS__
METRICS_PORT=3001