# Страница подписок
{$SUB_DOMAIN} {
    reverse_proxy remnawave-subscription-page:3010 {
        header_up X-Forwarded-For {remote_host}
        header_up X-Forwarded-Proto https
        header_up Host {host}
    }
}

# Личный кабинет
{$CABINET_DOMAIN} {
    root * /var/www/cabinet
    file_server
    try_files {path} /index.html
}